# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Telegram Config
BOT_CONFIG.json

# Node / Web
node_modules/
.vercel
dist/
build/
.next/

# OS
.DS_Store

# Credentials / Private config
Credenziali/
.env
BOT_CONFIG.json
